[submodule "Bonus_Exercises/algorithms/Bonus_Exercises/algorithms/practice-thy-algorithms"]
	path = Bonus_Exercises/algorithms/Bonus_Exercises/algorithms/practice-thy-algorithms
	url = https://github.com/jaysonvirissimo/practice-thy-algorithms/
